@tailwind base;
@tailwind components;
@tailwind utilities;

/* Common */
/* body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
} */


.ql-container {
  /* QuillEditor의 height custom하기 */
  min-height: 400px !important;
}

.ql-editor.ql-blank::before {
  font-style: normal !important;
}

/* input의 type=number일 때 오른쪽 스크롤바 안보이게끔 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

